guile
gc
libffi
libunistring
flex
libtool
perl
doxygen
openssl
yasm
libdrm
libjpeg-turbo
libogg
libvorbis
libtheora
freetype
libpng
harfbuzz
glib2
fribidi
libraw1394
libva
libvpx
orc
speexdsp
v4l-utils
libvdpau
libX11
xproto
kbproto
libxcb
libpthread-stubs
libXau
libXdmcp
