guile
gc
libffi
libunistring
perl
libtool
libjpeg-turbo
patch
pkg-config
sqlite
curl
cyrus-sasl
icu4c
pcre
python
swig
openssl
nasm
flex
libidn
openldap-client
libssh2
readline
doxygen
libogg
libsndfile
flac
libvorbis
speexdsp
libpng
