aaa_base
aaa_elflibs
aaa_terminfo
bash
bin
bzip2
coreutils
dcron
devs
dialog
e2fsprogs
eject
elvis
etc
eudev
findutils
gawk
glibc-solibs
glibc-zoneinfo
grep
gzip
kernel-modules-armv5
kernel_armv5
kmod
logrotate
openssl-solibs
pkgtools
procps-ng
sed
shadow
sharutils
sysklogd
sysvinit
sysvinit-functions
sysvinit-scripts
tar
util-linux
which
xz
diffutils
slackpkg
htop
mc
mpfr
ncurses
dhcpcd
gnupg
iputils
net-tools
network-scripts
ntp
openssh
wget
